# Virtual environment
PruebaTecnicaChiper/

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
PruebaTecnicaChiper/
sdist/
var/
wheels/
share/python-wheels/
share/
Tickit.egg-info/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# IDEs and text editors
.vscode/
.idea/
*.swp
*.swo
*.swn
*.bak
*.tmp
*.sublime*

# Log files
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Jupyter Notebook
.ipynb_checkpoints/

# Pytest
.pytest_cache/

# Other files and folders
*.sqlite3
*.sqlite3-journal
*.csv
*.json
*.env
.DS_Store
*.cfg
